<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DateTimeVisualizer.UI" version="1.0.11" targetFramework="net452" />
  <package id="FontAwesome.Sharp" version="6.3.0" targetFramework="net452" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net452" />
  <package id="MaterialSkin.2" version="2.3.1" targetFramework="net452" />
  <package id="Tiger.Clock" version="2.0.0" targetFramework="net452" />
  <package id="WinFormAnimation" version="1.6.0.4" targetFramework="net452" />
</packages>