<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bunifu.UI.WinForms" version="5.0.3" targetFramework="net452" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net452" />
  <package id="MaterialSkin.2" version="2.3.1" targetFramework="net452" />
  <package id="Syncfusion.Licensing" version="22.1.39" targetFramework="net452" />
  <package id="Syncfusion.Shared.WPF" version="22.1.39" targetFramework="net452" />
  <package id="WinFormAnimation" version="1.6.0.4" targetFramework="net452" />
</packages>